.root {
  .header {
    padding: 0;

    .container {
      background-color: #FFFFFF;
      padding: 0 16px;
      display: flex;
      flex-direction: row;
      align-content: center;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      width: 100%;

      .leftArea {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        flex-wrap: nowrap;

        .icon {
          margin-right: 8px;
        }

        .title {
          margin: 0;
          font-size: 1.4rem;
          font-weight: bold;
        }
      }
    }
  }

  .main {
    .sider {
      background-color: #FFFFFF;
      position: absolute;
      height: calc(100vh - 64px);
      z-index: 9999;

      .menu {
        .menuItem {
          flex-grow: 1;
        }
      }
    }

    .context {
      .main {
        height: calc(100vh - 64px - 70px);
        padding: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .footer {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        padding-left: 4px;
        padding-right: 4px;
      }
    }
  }
}