.root {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    > * {
      width: 580px;
      max-width: 95vw;
    }

    .infoCard {
      border-radius: 0.6rem;

      > :first-child {
        border-radius: 0.6rem 0.6rem 0 0;
      }

      > :last-child {
        border-radius: 0 0 0.6rem 0.6rem;
      }

      .meta {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;

        :global {
          .ant-card-meta-detail {
            margin: 8px;
          }
        }
      }
    }

    .listCard {
      margin-top: 24px;
      border-radius: 0.6rem;
      height: 430px;

      .list {
        margin-left: 4px;

        .item {
          cursor: default;

          .text {
            text-overflow: ellipsis;
            font-size: 0.8rem;
          }

          :global {
            .ant-list-item-meta-title {
              font-size: 16px;
            }
          }
        }
      }
    }

    .paginationDiv {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      flex-wrap: nowrap;
      margin-top: 24px;

      .pagination {
      }
    }
  }
}