.root {
  .main {
    .list {
      width: 840px;
      max-width: calc(100vw - 16px);

      .badge {
        width: calc(50% - 16px);
        min-width: 280px;
        max-width: 440px;
        margin-top: 8px;
        margin-bottom: 8px;
        border-radius: 0.6rem;
        .card {
          width: 100%;

          .listItem {
            width: 100%;
            .meta {
              cursor: default;
            }
          }

          :global {
            .ant-card-body {
              padding-top: 8px;
              padding-bottom: 8px;
            }
          }
        }
      }

      :global {
        ul.ant-list-items {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: flex-start;
        }

        @media screen and (max-width: 780px) {
          ul.ant-list-items {
            justify-content: center;
          }
        }
      }
    }
  }
}
