.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .main {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .table {
      width: 780px;
    }

    @media screen and (max-width: 780px) {
      .table {
        width: 100%;
        max-width: 100%;
        min-width: 100%;

        * {
          word-break: break-all;
        }
      }
    }
  }
}