.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .main {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .preview {
      width: 780px;
      border-radius: 0.6rem 0.6rem 0 0;
      margin-bottom: 0;
    }

    .table {
      width: 780px;
    }

    @media screen and (max-width: 780px) {
      .table {
        width: 100%;
        max-width: 100%;
        min-width: 100%;

        * {
          word-break: break-all;
        }
      }
      .preview {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
      }
    }
  }
}